.projects__container {
  position: absolute;
  left: 10%;
  width: 90%;
  min-width: 600px;
  height: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;

  h1 {
    align-self: flex-start;
    font-size: 7rem;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 80px;
    text-shadow: 3px 2px #279AF1;
    animation: lightSpeedInRight 1.5s 1.5s;
    animation-fill-mode: forwards;
    animation-delay: inherit;
  }
  .inner_container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    animation: backInUp 2s 2s;
    animation-fill-mode: backwards;
    animation-delay: initial;

    .projects {
      width: 25%;
      display: flex;
      margin: 20px auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .image_container {
        align-self: center;
        width: 100%;
        height: 100%;
        margin: 10px auto;
        overflow: hidden;

        img {
          display: block;
          margin: 0 auto;
          width: 200px;
          height: 100%;
          transition: transform ease-in 0.3s;
        }
        img:hover {
          transform: scale(1.1);
        }
      }
      h2 {
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
      }
      p {
        font-size: 1.5rem;
        margin: 10px;
      }
      .link_container {
        display: flex;
        justify-content: center;

        .link_icon {
          font-size: 2.5rem;
          margin: 10px;
          text-decoration: none;
          color: #F0F465;
          transition: color ease-in 0.3s;
        }
        .link_icon:hover {
          color: #fcffa0;
        }
      }
    }
  }
}


@media screen and (max-width: 992px){
  .projects__container {
    h1 {
      align-self: center;
    }
    .inner_container {
      .projects {
        width: 20%;

        .image_container {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projects__container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 90%;

    h1 {
      font-size: 5rem;
      line-height: 60px;
    }

    .inner_container {
      flex-wrap: wrap;
      height: 55%;
      justify-content: baseline;
      align-items: center;

      .projects {
        width: 45%;
        height: 100%;

        .image_container {
          width: 150px;
          height: auto;
        }

        p {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .projects__container {
    .inner_container {
      .projects {
        width: 80%;
      }
    }
  }
}