.about-container {
  position: absolute;
  left: 10%;
  width: 100%;
  min-width: 600px;
  height: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;

    h1 {
      font-size: 7rem;
      letter-spacing: 2px;
      font-weight: 300;
      line-height: 80px;
      text-shadow: 3px 2px #ffb100;
      animation: lightSpeedInRight 1.5s 1.5s;
      animation-fill-mode: forwards;
      animation-delay: inherit;
    }
    p {
      font-size: 1.8rem;
      animation: backInUp 2s 2s;
      animation-fill-mode: backwards;
      animation-delay: initial;

      .about_link {
        text-decoration: none;
        color: #ffb100;
        transition: color ease-in 0.3s;
      }
      .about_link:hover {
        color: #ffd269;
      }
    }
  }
  .cube_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    overflow: hidden;
    animation: backInUp 2s 2s;
    animation-fill-mode: backwards;
    animation-delay: initial;

    .cube_inner {
      padding: 10px auto;

      .cube {
        animation-name: spincube;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 12s;
        transform-style: preserve-3d;
        transform-origin: 100px 100px 0;
        margin-left: 170px;
        margin-bottom: 150px;
  
        div {
          position: absolute;
          width: 200px;
          height: 200px;
          border: 1px solid #ffb100;
          background: rgb(9,171,201, 0.4);
          text-align: center;
          font-size: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 10px 0px #00abc9;
        }
  
        .face1 {
          transform: translateZ(100px);
          color: #61dafb;
        }
        .face2 {
          transform: rotateY(90deg) translateZ(100px);
          color: #dd4b25;
        }
        .face3 {
          transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
          color: #196db1;
        }
        .face4 {
          transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
          color: #ead41c;
        }
        .face5 {
          transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
          color: #c36291;
        }
      }
  
      @keyframes spincube {
        from,
        to {
          transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
        16% {
          transform: rotateY(-90deg) rotateZ(90deg);
        }
        33% {
          transform: rotateY(-90deg) rotateX(90deg);
        }
        50% {
          transform: rotateY(-180deg) rotateZ(90deg);
        }
        66% {
          transform: rotateY(-270deg) rotateX(90deg);
        }
        83% {
          transform: rotateX(90deg);
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .about-container {
    .cube_container {
      display: none;
    }
  }
}
