.home__container {
  position: absolute;
  left: 10%;
  width: 100%;
  min-width: 600px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__container .welcome {
  min-width: 450px;
  margin-left: 20px;
  z-index: 1;
}
.home__container .welcome h1 {
  font-size: 7rem;
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 80px;
  text-shadow: 1px 1px #ffb100;
  -webkit-animation: lightSpeedInRight 1.5s 1.5s;
          animation: lightSpeedInRight 1.5s 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
}
.home__container .welcome h1 #letter_T {
  margin: 0;
  padding: 0;
  color: #00ABC9;
  text-shadow: 1px 0.5px #ffb100;
  font-size: 10rem;
  -webkit-animation: rotateInDownLeft 2.5s 2.5s;
          animation: rotateInDownLeft 2.5s 2.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 2000;
          animation-delay: 2000;
}
.home__container .welcome #title {
  display: block;
  width: 100%;
  text-align: left;
  letter-spacing: 5px;
  color: #ffb100;
  text-shadow: 1px 1px #00ABC9;
  font-size: 2rem;
  -webkit-animation: slideInUp 3s 3s;
          animation: slideInUp 3s 3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: initial;
          animation-delay: initial;
}
.home__container .logo_container {
  position: absolute;
  right: 35%;
  width: 400px;
  height: 600px;
  -webkit-animation: rotateInDownRight 3s 1s;
          animation: rotateInDownRight 3s 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  z-index: 0;
}
.home__container .logo_container .logo_tk {
  display: block;
  height: 100%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}