.projects__container {
  position: absolute;
  left: 10%;
  width: 90%;
  min-width: 600px;
  height: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__container h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 7rem;
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 80px;
  text-shadow: 3px 2px #ffb100;
  -webkit-animation: lightSpeedInRight 1.5s 1.5s;
          animation: lightSpeedInRight 1.5s 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
}
.projects__container .inner_container {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-animation: backInUp 2s 2s;
          animation: backInUp 2s 2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: initial;
          animation-delay: initial;
}
.projects__container .inner_container .projects {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__container .inner_container .projects .image_container {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 100%;
  margin: 10px auto;
  overflow: hidden;
}
.projects__container .inner_container .projects .image_container img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 100%;
  -webkit-transition: -webkit-transform ease-in 0.3s;
  transition: -webkit-transform ease-in 0.3s;
  transition: transform ease-in 0.3s;
  transition: transform ease-in 0.3s, -webkit-transform ease-in 0.3s;
}
.projects__container .inner_container .projects .image_container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.projects__container .inner_container .projects h2 {
  font-size: 2rem;
  text-align: center;
}
.projects__container .inner_container .projects p {
  font-size: 1.5rem;
  margin: 10px;
}
.projects__container .inner_container .projects .link_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects__container .inner_container .projects .link_container .link_icon {
  font-size: 2.5rem;
  margin: 10px;
  text-decoration: none;
  color: #ffb100;
  -webkit-transition: color ease-in 0.3s;
  transition: color ease-in 0.3s;
}
.projects__container .inner_container .projects .link_container .link_icon:hover {
  color: #ffd269;
}

@media screen and (max-width: 992px) {
  .projects__container h1 {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .projects__container .inner_container .projects {
    width: 20%;
  }
  .projects__container .inner_container .projects .image_container img {
    width: 100%;
  }
}