.projects__container {
  position: absolute;
  left: 10%;
  width: 100%;
  min-width: 600px;
  height: 100%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__container h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 7rem;
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 80px;
  text-shadow: 3px 2px #ffb100;
  -webkit-animation: lightSpeedInRight 1.5s 1.5s;
          animation: lightSpeedInRight 1.5s 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
}
.projects__container .inner_container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects__container .inner_container .projects {
  width: 25%;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}