.home__container {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .welcome_container {
    width: 100%;
    margin-left: 10px;
    z-index: 1;
    h1 {
      font-size: 7rem;
      letter-spacing: 2px;
      font-weight: 300;
      line-height: 80px;
      text-shadow: 3px 2px #ffb100;
      animation: lightSpeedInRight 1.5s 1.5s;
      animation-fill-mode: forwards;
      animation-delay: inherit;

      #monogram {
        margin: 0;
        padding: 0;
        color: #00abc9;
        text-shadow: 3px 1px #ffb100;
        font-size: 10rem;
        animation: rotateInDownLeft 1.5s 1s;
        animation-fill-mode: backwards;
        animation-delay: 1500;
      }
    }

    #title {
      display: block;
      width: 100%;
      text-align: left;
      letter-spacing: 5px;
      color: #ffb100;
      text-shadow: 1px 1px #00abc9;
      font-size: 2rem;
      animation: slideInUp 3s 3s;
      animation-fill-mode: backwards;
      animation-delay: initial;
    }
  }
  .logo_container {
    position: absolute;
    left: 30%;
    top: 10%;
    width: 100%;
    height: 100%;
    animation: backInUp 2s 2s;
    animation-fill-mode: backwards;
    animation-delay: initial;
    z-index: 0;
    .logo_tk {
      display: block;
      width: 50%;
      height: auto;
      opacity: 0.5;
      transform: rotate(8deg);
    }
  }
}

@media screen and (max-width: 992px){
  .home__container {
    .welcome_container {

      h1 {
        font-size: 6rem;
      }
    }

    .logo_container {
      animation: none;
      position: absolute;
      bottom: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
      opacity: 0.35;
    }
  }
}

@media screen and (max-width: 768px) {
  .home__container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;

    .welcome_container {
      position: initial;
      width: 80%;
      box-sizing: border-box;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 576px){
  .home__container {

    .welcome_container {
      width: 50%;

      h1 {
        font-size: 5rem;
      }
    }

    .logo_container {
      width: 100%;
      height: 100%;
      top: 80%;
      left: 60%;
    }
  }
}
