.home__container {
  position: absolute;
  left: 10%;
  width: 100%;
  min-width: 600px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .welcome {
    min-width: 450px;
    margin-left: 20px;
    z-index: 1;
    h1 {
      font-size: 7rem;
      letter-spacing: 2px;
      font-weight: 300;
      line-height: 80px;
      text-shadow: 1px 1px #ffb100;
      animation: lightSpeedInRight 1.5s 1.5s;
      animation-fill-mode: forwards;
      animation-delay: inherit;
      
      
  
      #letter_T {
        margin: 0;
        padding: 0;
        color: #00ABC9;
        text-shadow: 1px 0.5px #ffb100;
        font-size: 10rem;
        animation: rotateInDownLeft 2.5s 2.5s;
        animation-fill-mode: backwards;
        animation-delay: 2000;
      }
    }
    
    #title {
      display: block;
      width: 100%;
      text-align: left;
      letter-spacing: 5px;
      color: #ffb100;
      text-shadow: 1px 1px #00ABC9;
      font-size: 2rem;
      animation: slideInUp 3s 3s;
      animation-fill-mode: backwards;
      animation-delay: initial;
    }
  }
  .logo_container {
    position: absolute;
    right: 35%;
    width: 400px;
    height: 600px;
    animation: backInDown 3s 1s;
    animation-fill-mode: backwards;
    z-index: 0;
    .logo_tk {
      display: block;
      height: 100%;
      transform: rotate(8deg);
    }
  }
  
}