.home__container {
  width: 100%;
  min-width: 600px;
  height: 100%;
  margin: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .welcome {
    min-width: 450px;
    margin-left: 20px;
    h1 {
      font-size: 7rem;
      letter-spacing: 2px;
      font-weight: 300;
      line-height: 80px;
      text-shadow: 1px 1px #ffb100;
  
      #letter_T {
        margin: 0;
        padding: 0;
        color: #00ABC9;
        text-shadow: 1px 0.5px #ffb100;
        font-size: 10rem;
      }
    }
    #title {
      display: block;
      width: 100%;
      text-align: left;
      letter-spacing: 5px;
      color: #ffb100;
      text-shadow: 1px 1px #00ABC9;
      font-size: 2rem;
    }
  }
  .logo_container {
    width: 50%;
    height: 50%;
    .logo_tk {
      display: block;
      height: 100%;
      transform: rotate(8deg);
    }
  }
  
}