.navbar__container {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  background-color: #000;

  .logo__container {
    width: 30%;
    height: 100%;
    margin-left: 10px;

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 10px auto;
      padding: 0;

      img {
        display: block;
        width: 70px;
        
      }
    }
    #logo_sub {
      display: inline-block;
      width: 100px;
    }
  }
  nav, ul {
    display: none;
  }
  nav {
    width: 100%;
    top: 0;
    left: 0;
    background: #0080b2b0;
    height: 100%;
    margin: 0;
    z-index: 2;
    position: fixed;

    &.navbar-visible {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      animation: fadeInDown 1s;
      animation-fill-mode: forwards;

      .arrow_up {
        display: block;
        font-size: 2.5rem;
        margin: 10px auto;
        cursor: pointer;
        transition: all 0.3s ease-out;
      }

      .arrow_up:hover {
        color: #F0F465;
      }

      .link_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
  
        a:after {
          opacity: 1;
          width: auto;
          margin: auto;
          letter-spacing: 1px;
          font-size: 2rem;
        }
        a svg {
          opacity: 0;
        }
      }
      .contact__container {
        flex-direction: column;
        align-items: center;
      }
    }
    
  }

  .hamburger_menu_icon {
    display: block;
    margin-right: 20px;
    font-size: 2rem;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
  .hamburger_menu_icon:hover {
    color: #F0F465;
  }
}


