.navbar__container {
  background-color: #000;
  width: 80px;
  height: 100%;
  min-height: 500px;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
}
.navbar__container .logo__container .logo {
  display: block;
  padding: 10px 0;
}
.navbar__container .logo__container .logo img {
  display: block;
  margin: 10px auto;
  width: 65px;
}
.navbar__container .logo__container .logo #logo_sub {
  width: 100px;
}
.navbar__container nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.navbar__container nav a {
  font-size: 2.5rem;
  color: white;
  margin: 10px auto;
  text-decoration: none;
  display: block;
  position: relative;
  width: 100%;
}
.navbar__container nav a i {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar__container nav a:hover {
  color: #ffb100;
  text-shadow: 1px white;
}
.navbar__container nav a:hover svg {
  opacity: 0;
}
.navbar__container nav a:hover::after {
  opacity: 1;
}
.navbar__container nav a::after {
  content: "";
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar__container nav a:first-child::after {
  content: "HOME";
}
.navbar__container nav a.about-link::after {
  content: "ABOUT";
}
.navbar__container nav a.projects-link::after {
  content: "PROJECTS";
}
.navbar__container nav a.active svg {
  color: #ffb100;
}
.navbar__container .contact__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.navbar__container .contact__container ul {
  display: block;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-align: center;
}
.navbar__container .contact__container ul li {
  margin: 5px auto;
}
.navbar__container .contact__container ul li a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 2.5rem;
  margin: 10px auto;
  text-align: center;
}
.navbar__container .contact__container ul li a:hover svg {
  color: #ffb100;
}

@media screen and (max-width: 768px) {
  .navbar__container {
    position: fixed;
    width: 100%;
    height: auto;
    min-height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 4;
  }
  .navbar__container .logo__container .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 15px;
    padding: 0;
  }
  .navbar__container .logo__container .logo img {
    width: 50px;
  }
  .navbar__container .logo__container #logo_sub {
    display: inline-block;
    width: 60px;
  }
  .navbar__container nav {
    width: 100%;
    margin: 0 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar__container nav a {
    width: 60%;
  }
  .navbar__container .contact__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .navbar__container .contact__container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__container .contact__container ul li {
    margin: 0 20px;
  }
}