.navbar__container {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
  background-color: #000;
}
.navbar__container .logo__container {
  width: 30%;
  height: 100%;
  margin-left: 10px;
}
.navbar__container .logo__container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px auto;
  padding: 0;
}
.navbar__container .logo__container .logo img {
  display: block;
  width: 70px;
}
.navbar__container .logo__container #logo_sub {
  display: inline-block;
  width: 100px;
}
.navbar__container nav, .navbar__container ul {
  display: none;
}
.navbar__container nav {
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 128, 178, 0.6901960784);
  height: 100%;
  margin: 0;
  z-index: 2;
  position: fixed;
}
.navbar__container nav.navbar-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeInDown 1s;
          animation: fadeInDown 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.navbar__container nav.navbar-visible .close {
  display: block;
  font-size: 2.5rem;
  margin: 10px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar__container nav.navbar-visible .arrow_up:hover {
  color: #F0F465;
}
.navbar__container nav.navbar-visible .link_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.navbar__container nav.navbar-visible .link_container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.navbar__container nav.navbar-visible .link_container a:after {
  opacity: 1;
  width: auto;
  margin: auto;
  letter-spacing: 1px;
  font-size: 2rem;
}
.navbar__container nav.navbar-visible .link_container a svg {
  opacity: 0;
}
.navbar__container nav.navbar-visible .contact__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__container .hamburger_menu_icon {
  display: block;
  margin-right: 20px;
  font-size: 2rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.navbar__container .hamburger_menu_icon:hover {
  color: #F0F465;
}