html {
  font-size: 10px;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  background: #0a2a45;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 768px){
  body {
    overflow: visible;
    scroll-behavior: smooth;
  }
}
